<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/IndianStyle.css">
    <title>Indian Stall Page</title>
</head>
<body>
  <h1>WELCOME TO THE INDIAN STALL!!!</h1>
  <nav class="navbar">
      <a href="/">Home</a>
      <a href="/Donate">Donate a Meal</a>
      <a href="/Redeem">Redeem a Meal</a>    
      <div class="dropdown">
      <button class="dropbtn">Kopitiam 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/Chinese">Chinese Stall</a>
        <a href="/Malay">Malay Stall</a>
        <a href="/Indian">Indian Stall</a>
      </div>
    </div>
  </nav>

<div class="grid-container">
      <div class="menu">
      <div class="indianMenu"></div>
      </div>

    <div class="image">
        <div class="uncleWords">
            <br>
            Scared to Makan outside? Queues too long? We deliver to you anywhere!
        </div>
        <img style="position: fixed; right: 0px; margin-top: 10px;" src="../Images/KopitiamUncle.png" height="300px" width="300px">
    </div>
</div>
  
   
     
  </div>

  <footer>
    
    <p>&copy;SafeFoods</p>

    </footer>

  
    <script src='../js/jquery-3.5.0.min.js'></script>
    <script src='../js/IndianStall.js'></script>

</body>
</html>