<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Safe Foods Page</title>
</head>

<body>
    <h1>Safe Foods</h1>
     
       <nav class="navbar">
        <a href="/">Home</a>
        <a href="/Donate">Donate a Meal</a>
        <a href="/Redeem">Redeem a Meal</a>    
       <div class="dropdown">
        <button class="dropbtn">Kopitiam 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/Chinese">Chinese Stall</a>
            <a href="/Malay">Malay Stall</a>
            <a href="/Indian">Indian Stall</a>
        </div>
      </div>
      </nav>

       <h3>Make Payment</h3>
       <form>
        <label for="payment methods">Pay By:</label>
        <select id="payments" name="payments">
            <option value="cash">Cash</option>
            <option value="card">Card</option>
        </select><br><br>

        

       </form>
     
    <section class="donate">
    </section>
   
    <script src='../js/jquery-3.5.0.min.js'></script>
 </body>
</html>

