<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/Home.css">
    
    <title>Safe Foods Page</title>
</head>

<body>
  
    <h1>Safe Foods</h1>
     
       <nav class="navbar">
        <a href="/">Home</a>
        <a href="/Donate">Donate a Meal</a>
        <a href="/Redeem">Redeem a Meal</a>    
       <div class="dropdown">
        <button class="dropbtn">Kopitiam 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/Chinese">Chinese Stall</a>
            <a href="/Malay">Malay Stall</a>
            <a href="/Indian">Indian Stall</a>
        </div>
      </div>
      
      
      
       </nav>
     
  <section>
    <mark>Welcome to Safe Foods</mark>
  </section>

<footer>
  <p>&copy;SafeFoods</p>
</footer>

   
   
    <script src='../js/jquery-3.5.0.min.js'></script>
 </body>
</html>

